@import url(fonts.css);

:root {
    --body: #fff;
    --txt: #323232;
    --link: #7177f1;
    --title: #7177f1;
    --btn: #7177f1;
    --dots: #828282;
    --dots-active: #7177f1;
    --title-tab: #FFFFFF;
    --footer-link: #7177f1;
    --font-primayt: 'Montserrat';
    --font-secondary: 'Trebuchet';
}


body {
    background: var(--body);
    font-family: var(--font-primayt);
    color: var(--txt);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.logo::before {
    content: url(../img/svg/logo-light.svg);
}

.all-btn{
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    background: var(--btn);
    text-align: center;
    padding: 18px 0;
    display: block;
    transition: .2s;
    color: #FFF !important; 
    
}
.all-btn:hover{
    background-color: #fff;
    color: var(--btn) !important;
}
.header__nav{
    margin-bottom: 42px;
}

/* --===Header Start===-- */
.header__list{
    column-gap: 30px;
    row-gap: 15px;
}

.header__link {
    font-size: 24px;
    color: var(--link);
    line-height: 16px;
    text-transform: capitalize;
    transition: .2s;
    
}

.header__link:hover {
    color: var(--txt);  
}
.header__link-btn{
    width: 190px;
}

.header__menu{
    width: 44px;
    height: 2px;
    border: none;
    position: relative;
    padding: 0;
}
.header__menu.collapsed{
    background: var(--txt);
    transition: .4s;
}

.header__menu:focus{
    box-shadow: unset;
}


.header__menu::before,
.header__menu::after{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--txt) !important;
    transition: .4s ;
}

.header__menu::after{
    top: 10px;
}

.header__menu:not(.collapsed)::before{
    top: 0;
    transform: rotate(-45deg) ;
}

.header__menu:not(.collapsed)::after{
    top: 0;
    transform: rotate(45deg) ;
}
.header__content-subtitle{
    font-size: 24px;
    font-weight: 600;
    color: var(--txt);
    margin-bottom: 10px;
    text-transform: capitalize;
}
.header__content-title{
    font-size: 40px;
    font-weight: 600;
    line-height: 125%;
    color: var(--title);
    text-transform: capitalize;
    margin-bottom: 25px;
}
.header__content-btn{
    max-width: 300px;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0  auto 50px;
}
.header__tech-name{
    font-size: 20px;
    font-weight: 900;
    color: var(--title);
    text-transform: uppercase;
}
.header__tech-card:nth-of-type(1){
    color: #e44f26c7;
}
.header__tech-card:nth-of-type(2){
    color: #0d89e2ec;
}
.header__tech-card:nth-of-type(3){
    color: #790FF1;;
}
.header__carousel-indicators{
    position: static;
    margin: 50px 0 0;
    column-gap: 25px;
    
}
.header__indicators-dot{
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%; 
    background: var(--dots) !important;
    border: none !important;
    opacity: 1 !important;
}
.header__indicators-dot.active { 
    background: var(--dots-active) !important;
}
.header__carousel-img{
    max-height: 500px;
}


/* --===Header End===-- */